/* Examples of Absolute units: */

section h2 {
    font-size: 32px;
}

section p {
    font-size: 15pt;
}

.cm {
    font-size: 1cm;
}

.mm {
    font-size: 10mm;
}

.inch {
    font-size: 0.5in;
}



/* Examples of Relative units: */

html {
    font-size: 16px;
}

main h2 {
    font-size: 2em;
}

/* main {
    font-size: 32px;
}  */

main p {
    font-size: 100%;
}

main div {
    margin: 2rem;
    font-size: 2rem;
    background-color: lightseagreen;
}

.viewport {
    height: 5vh;
    width: 50vw;
    background-color: teal;
}

.minmax {
    height: 5vmin;
    width: 50vmax; 
    background-color: burlywood;
}

.calc-example{
    width: calc(100% - 300px);
    background-color: chocolate;
}
/* The total width of my screen is 1500, so 100% of 1500 is 1500 itself and after that you subtract 300 px for it */

h2 {
    font-size: 2em;
}